<div class="container body-content">

    {{#each articles}}
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-md-10 custom">
            <article>
                <header>
                    <h2 style="margin-top: 7px; margin-bottom: 5px;">{{this.title}}</h2>
                </header>
                <snall class="author">
                    {{dateFormat updatedAt "HH:mm, DD-MM-YYYY"}}
                </snall>
                <img src="{{this.image}}" width=100%, height=300px>
                <p><br />{{this.content}}<br /><br />
                </p>
                <footer>
                    <span style="color: #b4bcc2">Written by: {{this.User.fullName}}</span>
                    <div class="pull-right">
                        {{#ifeq this.authorId this.User.id}}
                            <a class="btn btn-success btn-xs" href="/article/details/{{this.id}}">Edit</a>
                            <a class="btn btn-danger btn-xs" href="/article/details/{{this.id}}">Delete</a>
                        {{/ifeq}}
                        <a class="btn btn-default btn-xs" href="/article/details/{{this.id}}">Read more &raquo;</a>
                    </div>
                </footer>
            </article>
        </div>
        <div class="col-lg-1"></div>
    </div>
    {{/each}}
    <br>
</div>